<% content_for :header do%>
	<h1><div class="boiler-header"><%= @boiler.name %></div></h1>
<% end %>

<% if admin_signed_in? %>
  <div class="edit-link"><%= link_to 'Edit', edit_admin_boiler_path(@boiler) %></div>
<% end %>
<div class="boiler-picture">
	<%= image_tag @boiler.picture.present? ? @boiler.picture.photo.url(:preview) : '/images/tab.gif' %>
</div>

<% if @settings.any? %>
	<div>Settings</div>
	<dl id='settings'>
		<% @settings.each do |setting| %>
			<div class="setting-field">
				<dt class='setting-name'><%= setting.name %></dt>
				<dd class='setting-value'><%= setting.value %></dd>
			</div>
		<% end %>
	</dl>
<% end %>

<div class="description">
	<%= @boiler.description %>
</div>

<%= link_to 'Buy', '#', :class => 'buy-button', "data-product-id" => @boiler.id, "data-product-type" => 'boiler' %>
