<% if @orders.any? %>
	<table>
		<thead>
			<th>Order Number</th>
			<th>Customer Name</th>
			<th>Price</th>
			<th>Phone</th>
			<th>State</th>
			<th></th>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
				<tr>
					<td><%= order.order_number %></td>
					<td><%= order.name %></td>
					<td><%= format_price order.price %></td>
					<td><%= order.phone %></td>
					<td><%= order.proceed? ? 'Proceed' : 'Open' %></td>
					<td><%= link_to "Details", admin_order_path(order) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>