<% @boilers.each do |boiler| %>
	<div>
		<%= "#{Boiler.find(boiler.good_id).name}  #{boiler.quantity}  #{format_price boiler.price}" %>
	</div>
<% end %>
<dl>
	<dt>
		Order Number
	</dt>
	<dd>
		<%= @order.order_number %>
	<dd>
	<dt>
		Customer Name
	</dt>
	<dd>
		<%= @order.name %>
	<dd>
	<dt>
		Email
	</dt>
	<dd>
		<%= @order.email %>
	<dd>
	<dt>
		Phone
	</dt>
	<dd>
		<%= @order.phone %>
	<dd>
	<dt>
		Price
	</dt>
	<dd>
		<%= format_price @order.price %>
	<dd>
</dl>