<h1>Create Order</h1>
<% if session[:goods].present? && session[:goods].to_a.flatten[1].present?%>
	<% form_for @order, orders_path do |form| %>
		<% total_price = 0 %>
		<table>
			<% session[:goods].each do |type| %>
				<% if type[0] == 'boiler' %>
					<% type[1].each do |product| %>
						<% boiler = Boiler.find(product[0]) %>
						<% quantity = product[1] %>
						<% price = boiler.price * quantity %>
						<% total_price += price %>
						<tr class="cart-boiler">
							<td><%= "#{boiler.name}" %></td>
							<td>
								<%= "#{quantity}" %>
							</td>
							<td><%= "$#{price}" %></td>

						</tr>
					<% end %>
				<% end %>
			<% end %>
			<tr class="cart-total">
				<td colspan="2">Total:</td>
				<td><%= "$#{total_price}" %></td>
			</tr>
		</table>
		<%= hidden_field_tag "order[price]", total_price %>
		<dl>
			<dt>
				<%= form.label :name, 'Your Name' %>
			</dt>
			<dd>
				<%= form.text_field :name %>
			</dd>
			<dt>
				<%= form.label :email %>
			</dt>
			<dd>
				<%= form.text_field :email %>
			</dd>
			<dt>
				<%= form.label :phone %>
			</dt>
			<dd>
				<%= form.text_field :phone %>
			</dd>
		</dl>
		<%= form.submit 'Buy' %>
	<% end %>
<% end %>