<%= javascript_include_tag 'pages/boiler.new' %>
<% form_for boiler, :url => path, :html => { :multipart => true } do |f| %>
	<% if boiler.picture.present? %>
		<%= image_tag boiler.picture.photo.url(:preview) %>
	<% end %>

	<dl>
		<dt>
			<%= f.label :name, 'Name' %>
		</dt>
		<dd>
			<%= f.text_field :name %>
		</dd>
		<dt>
			<%= f.label :price, 'Price' %>
		</dt>
		<dd>
			<%= f.text_field :price %>
		</dd>
		<dt>
			<%= f.label :category_id, 'Category' %>
		</dt>
		<dd>
			<%= f.select :category_id, Category.boilers.map{|category| [category.name, category.id]} %>
		</dd>

		<%= f.fields_for :picture do |pic| %>
			<dt>
				<%= pic.label :photo, 'Picture' %>
			</dt>
			<dd>
				<%= pic.file_field :photo %>
			</ds>
		<% end %>

	</dl>

	<% boiler.settings.each do |setting| %>
		<div class="setting-creation">
			<%= hidden_field_tag 'boiler[settings][]id', setting.id %>
			<%= select_tag 'boiler[settings][]setting_name_id',
							options_from_collection_for_select(@settings_names, "id", "name", setting.setting_name_id) %>
			<%= text_field_tag 'boiler[settings][]value', setting.value %>
			<%= link_to 'remove', '#', :class => 'remove-setting' %>
		</div>
	<% end %>

	<div id="settings-area">
	</div>
	<%= link_to 'Add Setting', '#', :class => 'setting-add-link' %>


	<%= f.submit 'Save' %>
<% end %>

<div class="setting-creation" id="setting-prototype" style="display: none">
	<%= select_tag 'boiler[settings][]setting_name_id', options_from_collection_for_select(@settings_names, "id", "name") %>
	<%= text_field_tag 'boiler[settings][]value' %>
	<%= link_to 'remove', '#', :class => 'remove-setting' %>
</div>