<% content_for :main_menu do %>
  <div id="header">
    <%= content_for :header %>
  </div>
  <div id="main-menu">
    <ul id="main-menu-items">
      <li><%#= link_to 'Categories', root_path %></li>
      <li><%= link_to 'Boilers', boilers_path %></li>
      <li><%= link_to 'Services', services_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <% if admin_signed_in? %>
        <li><%= link_to 'Cabinet', admin_root_path %></li>
      <% end %>
    </ul>
    <% if admin_signed_in? %>
      <div class='session-links'>
        <%= link_to 'Logout', destroy_admin_session_path, :method => :delete %>
      </div>
    <% end %>
  </div>
<% end %>
<% content_for :content do%>
  <div id="side-menu">
    <ul>
      <% @categories.each do |category| %>
        <li><%= link_to category.name, send("category_#{category.kind.pluralize}_path", category.id), :class => 'category-link', :remote => true %></li>
      <% end %>
    </ul>
    <OBJECT CLASSID="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" WIDTH="240" HEIGHT="160" CODEBASE="http://active.macromedia.com/flash5/cabs/swflash.cab#version=5,0,0,0">
      <PARAM NAME="MOVIE" VALUE="RW_160x240.swf">
      <PARAM NAME="PLAY" VALUE="true">
      <PARAM NAME="LOOP" VALUE="true">
      <PARAM NAME="QUALITY" VALUE="high">
      <PARAM NAME="SCALE" value="noborder">
      <EMBED SRC="RW_160x240.swf" WIDTH="240" HEIGHT="160" PLAY="true" LOOP="true" QUALITY="high" scale="noborder" PLUGINSPAGE="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"> 
      </EMBED>
    </OBJECT>
  </div>

  <div id="content-wrapper">
    <%= yield %>
  </div>
<% end %>
<%= render :template => 'layouts/application' %>